<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<header role="banner">
  <div class="container">
    <h1><a href="/" class="nav-home">Example Co.</a></h1>
    <nav class="nav-primary">
      <ul>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/people">People</a></li>
      </ul>
    </nav>
  </div><!-- end of div.container -->
</header><!-- end of header[role=banner] -->

<div role="main">
  <div class="container">

{{ content }}

  </div><!-- end of div.container -->
</div><!-- end of div[role=main] -->

<footer role="contentinfo">
  <div class="container">
    <p>Copyright Example Co., 2015.</p>
  </div><!-- end of div.container -->
</footer><!-- end of footer[role=contentinfo] -->

<script src="/assets/js/application.js"></script>
</body>
</html>
